@charset "utf-8";
/* CSS Document */
/*样式重置*/
*{margin:0px;padding:0px;list-style:none;text-decoration:none;font-family:"微软雅黑", "宋体", "黑体";font-weight:normal;}
/*页头*/
#headCon{
	min-width:1200px;}
#headCon>div{
	width:1200px;
	margin:auto;
	margin-top:10px;
	overflow:hidden;
	}
#headCon>div>p{
	float:left;
	font-size:14px;
	color:#999;}
#headCon>div>ol{
	width:300px;
	float:right;
	overflow:hidden;}
#headCon>div>ol>li{
	overflow:hidden;
	float:left;}
#headCon>div>ol>li>a{
	font-size:14px;
	color:#999;
	float:left;
	margin-right:10px;
	}
#headCon>div>ol>li>a:hover{
	color:#fb0000;}
#headCon>div>ol>a{
	width:76px;
	height:14px;
	text-align:center;
	line-height:14px;
	float:left;
	font-size:14px;
	color:#999;
	border-left:1px solid #a1a1a1;
	border-right:1px solid #a1a1a1;
	margin-top:3px;}
#headCon>div>ol>a:hover{
	color:#fb0000;}
#headCon>div>ol>.shoppingCar{
	margin-left:10px;
	width:120px;
	border:none;
	height:20px;
	float:left;
	overflow:hidden;}
#headCon>div>ol>.shoppingCar>i{
	float:left;
	width:22px;
	height:18px;
	vertical-align:middle;
	background:url(../images/sprite.png) no-repeat 0px 0px;}
#headCon>div>ol>.shoppingCar>span{
	float:left;
	margin-left:10px;}
#headCon>ul{
	width:1200px;
	margin:auto;
	overflow:hidden;
	margin-top:30px;}
#headCon>ul>a{
	float:left;}
#headCon>ul>a>li{
	width:92px;
	height:63px;
	background:url(../images/sprite.png) no-repeat -22px 0px;}
#headCon>ul>ol{
	float:left;
	overflow:hidden;
	margin-left:180px;}
#headCon>ul>ol>li{
	float:left;
	margin-top:25px;
	margin-right:40px;}
#headCon>ul>ol>li>a{
	font-size:18px;
	color:#4c4c4c;}
#headCon>ul>ol>li>a:hover{
	color:#fb0000;}
#headCon>ul>ol>li>.first{
	color:#fb0000;}
#headCon>ul>ol>.search{
	margin-top:10px;
	margin-left:90px;}
#headCon>ul>ol>.search>input{
	width:254px;
	height:40px;
	border:1px solid #fb0000;
	border-radius:20px;
	outline:none;
	color:#999;
	padding-left:16px;
	font-size:16px;}
#headCon>ul>ol>.search>button{
	width:29px;
	height:29px;
	background:url(../images/sprite.png) no-repeat -115px 0px;
	outline:none;
	border:none;
	vertical-align:middle;
	margin-left:-60px;
	}
#headCon>ol{
	width:1200px;
	height:500px;
	margin:auto;
	background:url(../images/banner02_03.jpg) center no-repeat;
	margin-top:20px;}
/*内容*/
#contentCon>.French{
	width:1200px;
	margin:auto;
	margin-top:80px;}
#contentCon>.French>ul{
	width:1200px;
	height:60px;
	background:#e5e5e5;
	line-height:60px;}
#contentCon>.French>ul>p{
	font-size:30px;
	color:#fb0000;
	float:left;
	}
#contentCon>.French>ul>span{
	float:left;
	color:#4c4c4c;
	font-size:24px;
	margin-left:36px;}
#contentCon>.French>ul>a{
	float:right;
	font-size:18px;
	color:#4c4c4c;}
#contentCon>.French>ol{
	overflow:hidden;
	margin-top:40px;}
#contentCon>.French>ol>li{
	float:left;}
#contentCon>.French>ol>.makalong{
	margin:0 20px;}
#contentCon>.French>ol>.musi{
	margin-right:20px;}
#contentCon>.French>ol>.su>a{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/french_03.jpg) center no-repeat;}
#contentCon>.French>ol>.su>.shahe{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/Austria_03.jpg) center no-repeat;
	}
#contentCon>.French>ol>.makalong>a{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/french_05.jpg) center no-repeat;}
#contentCon>.French>ol>.makalong>.moon{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/Austria_05.jpg) center no-repeat;
	}
#contentCon>.French>ol>.musi>a{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/french_07.jpg) center no-repeat;}
#contentCon>.French>ol>.musi>.apple{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/Austria_07.jpg) center no-repeat;
	}
#contentCon>.French>ol>.geju>a{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/french_09.jpg) center no-repeat;}
#contentCon>.French>ol>.geju>.king{
	display:block;
	width:285px;
	height:400px;
	background:url(../images/Austria_09.jpg) center no-repeat;
	}
#contentCon>.French>ol>li>p{
	font-size:16px;
	color:#4c4c4c;
	margin-left:20px;
	margin-top:10px;}
#contentCon>.French>ol>li>div{
	overflow:hidden;
	margin-left:20px;
	margin-top:10px;}
#contentCon>.French>ol>li>div>.shoucang{
	float:left;
	width:25px;
	height:24px;
	background:url(../images/sprite.png) no-repeat -618px 0;}
#contentCon>.French>ol>li>div>.car{
	float:left;
	width:25px;
	height:24px;
	background:url(../images/sprite.png) no-repeat -643px 0;
	margin-left:10px;}
#contentCon>.French>ol>li>div>.btn{
	float:left;
	width:70px;
	height:24px;
	background:#fb0000;
	color:#fff;
	line-height:10px;
	border-radius:8px;
	text-align:center;
	margin-left:10px;}
#contentCon>.Italy{
	width:1200px;
	margin:auto;
	margin-top:80px;}
#contentCon>.Italy>ul{
	width:1200px;
	height:60px;
	background:#e5e5e5;
	line-height:60px;}
#contentCon>.Italy>ul>p{
	font-size:30px;
	color:#fb0000;
	float:left;
	}
#contentCon>.Italy>ul>span{
	float:left;
	color:#4c4c4c;
	font-size:24px;
	margin-left:36px;}
#contentCon>.Italy>ul>a{
	float:right;
	font-size:18px;
	color:#4c4c4c;}
#contentCon>.Italy>ol{
	width:1200px;
	margin:auto;
	margin-top:40px;
	overflow:hidden;}
#contentCon>.Italy>ol>.left{
	margin-right:10px;
	float:left;
	display:block;
	width:384px;
	height:400px;
	background:url(../images/Italy_03.png) center no-repeat;
	position:relative;}
#contentCon>.Italy>ol>.left02{
	margin-right:10px;
	float:left;
	display:block;
	width:384px;
	height:400px;
	background:url(../images/America_03.jpg) center no-repeat;
	position:relative;}
#contentCon>.Italy>ol>.left>div{
	text-align:center;
	width:384px;
	height:85px;
	background:rgba(255,255,255,0.7);
	position:absolute;
	left:0;
	bottom:0;}
#contentCon>.Italy>ol>.left>div>p{
	font-size:18px;
	color:#4c4c4c;
	padding-top:18px;}
#contentCon>.Italy>ol>.left>div>a{
	display:block;
	width:70px;
	height:24px;
	border-radius:8px;
	background:#fb0000;
	color:#fff;
	margin-left:156px;
	margin-top:10px;}
#contentCon>.Italy>ol>.left02>div{
	text-align:center;
	width:384px;
	height:85px;
	background:rgba(255,255,255,0.7);
	position:absolute;
	left:0;
	bottom:0;}
#contentCon>.Italy>ol>.left02>div>p{
	font-size:18px;
	color:#4c4c4c;
	padding-top:18px;}
#contentCon>.Italy>ol>.left02>div>a{
	display:block;
	width:70px;
	height:24px;
	border-radius:8px;
	background:#fb0000;
	color:#fff;
	margin-left:156px;
	margin-top:10px;}
#contentCon>.Italy>ol>.right{
	float:left;}
#contentCon>.Italy>ol>.right>ul{
	overflow:hidden;}
#contentCon>.Italy>ol>.right>.bottom{
	margin-top:10px;}
#contentCon>.Italy>ol>.right>ul>li{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/Italy_06.jpg) center no-repeat;
	position:relative;}
#contentCon>.Italy>ol>.right>ul>.top01_01{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/America_05.jpg) center no-repeat;
	position:relative;
	}
#contentCon>.Italy>ol>.right>ul>.top02{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/Italy_08.png) center no-repeat;
	position:relative;
	margin-left:10px;
	}
#contentCon>.Italy>ol>.right>ul>.top02_02{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/America_07.jpg) center no-repeat;
	position:relative;
	margin-left:10px;
	}
#contentCon>.Italy>ol>.right>.bottom>.top01{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/Italy_13.png) center no-repeat;
	position:relative;
	}
#contentCon>.Italy>ol>.right>.bottom>.top01_01{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/America_11.jpg) center no-repeat;
	position:relative;
	}
#contentCon>.Italy>ol>.right>.bottom>.top02{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/Italy_15.png) center no-repeat;
	position:relative;
	}
#contentCon>.Italy>ol>.right>.bottom>.top02_02{
	float:left;
	width:397px;
	height:195px;
	background:url(../images/America_13.jpg) center no-repeat;
	position:relative;
	}
#contentCon>.Italy>ol>.right>ul>li>div{
	text-align:center;
	width:397px;
	height:76px;
	background:rgba(255,255,255,0.7);
	position:absolute;
	left:0;
	bottom:0;
	}
#contentCon>.Italy>ol>.right>ul>li>div>p{
	font-size:18px;
	color:#4c4c4c;
	padding-top:10px;
	}
#contentCon>.Italy>ol>.right>ul>li>div>a{
	display:block;
	width:70px;
	height:24px;
	border-radius:8px;
	background:#fb0000;
	color:#fff;
	margin-left:166px;
	margin-top:10px;
	}
#contentCon>ul{
	width:1200px;
	height:60px;
	background:#e5e5e5;
	line-height:60px;
	text-align:center;
	margin:auto;
	margin-top:80px;
	}
#contentCon>ul>a{
	font-size:18px;
	color:#4c4c4c;
	}
/*页脚*/
#footCon>ul{
	width:1200px;
	height:168px;
	background:#eee;
	margin:auto;
	margin-top:100px;
	overflow:hidden;}
#footCon>ul>li{
	width:330px;
	float:left;
	margin-top:45px;
	margin-left:70px;
	overflow:hidden;}
#footCon>ul>li>.cold{
	width:65px;
	height:65px;
	background:url(../images/sprite.png) no-repeat -351px 0px;
	float:left;
	margin-top:10px;}
#footCon>ul>li>.wuxiu{
	width:69px;
	height:69px;
	background:url(../images/sprite.png) no-repeat -418px 0px;
	float:left;
	margin-top:10px;}
#footCon>ul>li>.baoyou{
	width:58px;
	height:72px;
	background:url(../images/sprite.png) no-repeat -488px 0px;
	float:left;
	margin-top:10px;}
#footCon>ul>li>span{
	float:left;
	width:1px;
	height:80px;
	background:#fb0000;
	margin:0 30px 0 30px;}
#footCon>ul>li>ol{
	float:left;}
#footCon>ul>li>ol>h2{
	font-size:30px;
	color:#fb0000;
	font-weight:normal;}
#footCon>ul>li>ol>p{
	font-size:24px;
	color:#4c4c4c;
	margin-top:10px;}
#footCon>ol{
	width:1200px;
	margin:auto;
	margin-top:50px;
	overflow:hidden;}
#footCon>ol>li{
	float:left;
	margin-left:120px;
	margin-right:85px;}
#footCon>ol>li>i{
	display:block;
	width:92px;
	height:62px;
	background:url(../images/sprite.png) no-repeat -23px 0px;
	margin-left:20px;}
#footCon>ol>li>a{
	display:block;
	font-size:14px;
	color:#4c4c4c;
	margin-top:20px;}
#footCon>ol>li>div{
	overflow:hidden;
	margin-top:24px;
	margin-left:10px;}
#footCon>ol>li>div>.weibo{
	float:left;
	width:33px;
	height:27px;
	background:url(../images/sprite.png) no-repeat -546px 0px;}
#footCon>ol>li>div>.weixin{
	float:left;
	width:36px;
	height:30px;
	background:url(../images/sprite.png) no-repeat -582px 0px;
	margin-left:40px;}
#footCon>ol>ul{
	width:538px;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	overflow:hidden;
	float:left;}
#footCon>ol>ul>li{
	float:left;
	margin-right:50px;}
#footCon>ol>ul>.text01{
	margin-left:80px;}
#footCon>ol>ul>li>p{
	font-size:14px;
	color:#4c4c4c;}
#footCon>ol>ul>li>span{
	display:block;
	width:50px;
	height:1px;
	background:#b5b5b5;
	margin-left:5px;
	margin-top:10px;}
#footCon>ol>ul>li>a{
	display:block;
	font-size:14px;
	color:#808080;
	margin-top:20px;}
#footCon>ol>div{
	text-align:center;
	float:left;
	margin-left:50px;}
#footCon>ol>div>p{
	font-size:14px;
	color:#4d4d4d;}
#footCon>ol>div>h2{
	font-size:18px;
	color:#4c4c4c;
	font-weight:normal;
	margin-top:20px;}
#footCon>ol>div>span{
	display:block;
	font-size:14px;
	color:#4d4d4d;
	margin-top:20px;}
#footCon>ol>div>a{
	display:block;
	width:75px;
	height:25px;
	border-radius:8px;
	background:#b5b5b5;
	color:#fff;
	margin-top:20px;
	margin-left:26px;
	font-size:14px;
	line-height:25px;}
#footCon>div{
	margin:auto;
	width:1200px;
	height:1px;
	background:#b5b5b5;
	margin-top:30px;}
#footCon>li{
	width:1200px;
	margin:auto;
	text-align:center;
	font-size:14px;
	margin-top:40px;
	color:#808080;}
#footCon>li>span{
	display:block;
	margin-top:20px;}

